<!doctype html>
  <style>
	.table-title{
		background: #F5FFFA;
	}
	.double_row_bkcolor0{
		background: #EAEAEA;
	}
	table{
		border:1;
		border-collapse:collapse;
	}
/*
	table tr td{
		text-align:right;
	}
*/
	.font-red-bold{
		color:red;
		font-weight:bold;
	}
	.font-green-bold{
		color:green;
		font-weight:bold;
	}
	.font-bold{
		font-weight:bold;
	}
	.font-red{
		color:red;
	}
	.font-green{
		color:green;
	}
	.font-blue{
		color:blue;
	}
  </style>
<title>{{stockno}}</title>

<dd>
<input type='text' id='hidstockno' style="display:none" value='{{stockinfo['code']}}'>
<input type='text' id='hidstockname' style="display:none" value='{{stockinfo['name']}}'>
<div id='roomid'>
{{stockinfo['name']}}({{stockinfo['code']}})
&nbsp;<font size='2' color ='gray'>昨收：{{stockinfo['close']}}</font>
</div>
<div id='match'>
    <font size='5' class = "{{stockinfo['涨跌_css']}}">{{stockinfo['now']}}</font>
    &nbsp;<font class = "{{stockinfo['涨跌_css']}}">{{stockinfo['涨跌']}}</font>&nbsp;
    &nbsp;<font class = "{{stockinfo['涨跌_css']}}">{{stockinfo['涨跌(%)']}}</font>&nbsp;
    &nbsp;<font size='2' color ='gray'>{{stockinfo['datetime']}}</font>
</div>
<!--<div id='time'>{{stockinfo['datetime']}}&nbsp;</div>-->

<table border='0' style='border-collapse:collapse'>
    <tr>
        <td width='50' align='left'><font color='black'>买一</font></td>
        {% if stockinfo['bid1'] > stockinfo['close'] %}
            <td width='60' align='left'><font color="red"><b>{{stockinfo['bid1']}}</b></font></td>
        {% else %}
            <td width='60' align='left'><font color="green"><b>{{stockinfo['bid1']}}</b></font></td>
        {% endif %}
        <td width='60' align='right'>{{stockinfo['bid1_volume']}}&nbsp;</td>
		 <td width='50' align='left'><font color='black'>卖一</font></td>
        {% if stockinfo['ask1'] > stockinfo['close'] %}
    		 <td width='60' align='left'><font color='red'><b>{{stockinfo['ask1']}}</b></font></td>
        {% else %}
    		 <td width='60' align='left'><font color='green'><b>{{stockinfo['ask1']}}</b></font></td>
        {% endif %}
		 <td width='60' align='right'>{{stockinfo['ask1_volume']}}&nbsp;</td>
    </tr>
    <tr>
        <td width='50' align='left'><font color='black'>买二</font></td>
        {% if stockinfo['bid2'] > stockinfo['close'] %}
            <td width='60' align='left'><font color="red"><b>{{stockinfo['bid2']}}</b></font></td>
        {% else %}
            <td width='60' align='left'><font color="green"><b>{{stockinfo['bid2']}}</b></font></td>
        {% endif %}
        <td width='60' align='right'>{{stockinfo['bid2_volume']}}&nbsp;</td>
		 <td width='50' align='left'><font color='black'>卖二</font></td>
        {% if stockinfo['ask2'] > stockinfo['close'] %}
    		 <td width='60' align='left'><font color='red'><b>{{stockinfo['ask2']}}</b></font></td>
        {% else %}
    		 <td width='60' align='left'><font color='green'><b>{{stockinfo['ask2']}}</b></font></td>
        {% endif %}
		 <td width='60' align='right'>{{stockinfo['ask2_volume']}}&nbsp;</td>
    </tr>
    <tr>
        <td width='50' align='left'><font color='black'>买三</font></td>
        {% if stockinfo['bid3'] > stockinfo['close'] %}
            <td width='60' align='left'><font color="red"><b>{{stockinfo['bid3']}}</b></font></td>
        {% else %}
            <td width='60' align='left'><font color="green"><b>{{stockinfo['bid3']}}</b></font></td>
        {% endif %}
        <td width='60' align='right'>{{stockinfo['bid3_volume']}}&nbsp;</td>
		 <td width='50' align='left'><font color='black'>卖三</font></td>
        {% if stockinfo['ask3'] > stockinfo['close'] %}
    		 <td width='60' align='left'><font color='red'><b>{{stockinfo['ask3']}}</b></font></td>
        {% else %}
    		 <td width='60' align='left'><font color='green'><b>{{stockinfo['ask3']}}</b></font></td>
        {% endif %}
		 <td width='60' align='right'>{{stockinfo['ask3_volume']}}&nbsp;</td>
    </tr>
    <tr>
        <td width='50' align='left'><font color='black'>买四</font></td>
        {% if stockinfo['bid4'] > stockinfo['close'] %}
            <td width='60' align='left'><font color="red"><b>{{stockinfo['bid4']}}</b></font></td>
        {% else %}
            <td width='60' align='left'><font color="green"><b>{{stockinfo['bid4']}}</b></font></td>
        {% endif %}
        <td width='60' align='right'>{{stockinfo['bid4_volume']}}&nbsp;</td>
		 <td width='50' align='left'><font color='black'>卖四</font></td>
        {% if stockinfo['ask4'] > stockinfo['close'] %}
    		 <td width='60' align='left'><font color='red'><b>{{stockinfo['ask4']}}</b></font></td>
        {% else %}
    		 <td width='60' align='left'><font color='green'><b>{{stockinfo['ask4']}}</b></font></td>
        {% endif %}
		 <td width='60' align='right'>{{stockinfo['ask4_volume']}}&nbsp;</td>
    </tr>
    <tr>
        <td width='50' align='left'><font color='black'>买五</font></td>
        {% if stockinfo['bid5'] > stockinfo['close'] %}
            <td width='60' align='left'><font color="red"><b>{{stockinfo['bid5']}}</b></font></td>
        {% else %}
            <td width='60' align='left'><font color="green"><b>{{stockinfo['bid5']}}</b></font></td>
        {% endif %}
        <td width='60' align='right'>{{stockinfo['bid5_volume']}}&nbsp;</td>
		 <td width='50' align='left'><font color='black'>卖五</font></td>
        {% if stockinfo['ask5'] > stockinfo['close'] %}
    		 <td width='60' align='left'><font color='red'><b>{{stockinfo['ask5']}}</b></font></td>
        {% else %}
    		 <td width='60' align='left'><font color='green'><b>{{stockinfo['ask5']}}</b></font></td>
        {% endif %}
		 <td width='60' align='right'>{{stockinfo['ask5_volume']}}&nbsp;</td>
    </tr>
</table>
