<!doctype html>
<title>Hello from Flask</title>
{% if name %}
  <p>Hello {{ name }}!</p>
{% else %}
  <p>Hello World!</p>
{% endif %}
<dd><input type='button' value='post1' onclick='getstockinfo();' />
<!--form action='/post' method=post>
<dd><input type='text' name='stockno' id='stockno' value='sz000001'>
<dd><input type=submit value=Share>
</form-->
<div id='stock_info_error'></div>
<div id='stock_info'></div>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript">

//ref = setInterval(getstockinfo,10000);

function getstockinfo () {
	var stockno = $("#stockno").val();
	//alert(stockno);
	$.ajax({
		type: "GET",
		url: "/qq/" + stockno ,
		data: {'stockno':stockno},
		dataType: "text",
		success: function(msg){
                $('#stock_info').text("");
                $('#stock_info_error').text("");
                $('#stock_info').append(msg);
                //edit_view(jQuery.parseJSON(msg));
		},
		error:function(){
                $('#stock_info_error').text("error");
                //$('#stock_info_error').append(msg);
			return false;
			},
		});

function edit_view(jsonobj){
    $('#stock_info').text("");
    //$('#stock_info').append(jsonobj.stock['000001'].toJSONString());
    $.each(jsonobj.stock, function(i,val){      
        //alert(val.toJSONString());
        $('#stock_info').append(val.name + val.now);
    });
}
}
</script>