<!doctype html>
<title>Hello from Flask</title>
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% else %}
  <h1>Hello World!</h1>
{% endif %}
<dd><input type='button' value='post1' onclick='getstockinfo();' />
<form action='/post' method=post>
<dd><input type='text' name='stockno' id='stockno' value='sz000001'>
<dd><input type=submit value=Share>
</form>
<div id='stock_info'></div>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript">

//ref = setInterval(getstockinfo,5000);

function getstockinfo () {
	var stockno = $("#stockno").val();
	//alert(stockno);
	$.ajax({
		type: "GET",
		url: "/post_stock/" + stockno ,
		data: {'stockno':stockno},
		dataType: "text",
		success: function(msg){
				//alert(msg);
				$('#stock_info').append(msg);
			},
		error:function(){
			alert("error");
			return false;
			},
		});
}
</script>