<!doctype html>
<link rel="stylesheet" type="text/css" href="/static/css/common.css" />

<div class="display-inline-block">
<dd>全部市值：{{allPosition}}
<dd>全部盈亏：{{allYingkui}}
<dd>今日盈亏：{{todayYingkui}}
<dd class='font-blue'>※合计部分港币汇率已换算</dd>
</div>
<div class="display-inline-block margin-left-20">
<!--分类统计-->
<table border='1' style='border-collapse:collapse'>
  <tr class='table-title'>
    <th>分类</th>
    <th>持仓</th>
    <th>比例</th>
  </tr>
{% for item in dic_shichang_fenlei %}
  <tr class='double_row_bkcolor{{loop.index%2}}'>
      <td>{{item}}</td>
      <td>{{dic_shichang_fenlei[item][0]}}</td>
      <td>{{dic_shichang_fenlei[item][1]}}</td>
  </tr>
{% endfor %}
</table>
</div>

<div class="display-inline-block margin-left-20">
<!--主要指数-->
<table border='1' style='border-collapse:collapse'>
  <tr class='table-title'>
    <th>主要指数</th>
    <th>now</th>
    <th>涨跌</th>
    <th>涨跌%</th>
  </tr>
{% for item in zhishuinfo %}
  <tr class='double_row_bkcolor{{loop.index%2}}'>
      <td>{{zhishuinfo[item]['name']}}</td>
		{% if zhishuinfo[item]['涨跌'] > 0 %}
			<td class='font-red'>{{zhishuinfo[item]['now']}}</td>
			<td class='font-red'>{{zhishuinfo[item]['涨跌']}}</td>
			<td class='font-red'>{{zhishuinfo[item]['涨跌(%)']}}</td>
		{% else %}
			<td class='font-green'>{{zhishuinfo[item]['now']}}</td>
			<td class='font-green'>{{zhishuinfo[item]['涨跌']}}</td>
			<td class='font-green'>{{zhishuinfo[item]['涨跌(%)']}}</td>
		{% endif %}
  </tr>
{% endfor %}
</table>
</div>
<dd>
<!--<p>持仓</p>-->
  <table border='1' style='border-collapse:collapse'>
  <tr class='table-title'>
    <th>NO</th>
    <th>代码</th>
    <th>名称</th>
    <!--<th>行业</th>-->
    <th>持仓市值</th>
    <th>盈亏</th>
    <th>涨跌幅</th>
    <th>涨跌</th>
    <th>总市值</th>
    <th>现价</th>
    <th>总盈亏</th>
    <th>总盈亏(%)</th>
    <th>持仓时间</th>
    <th>成交额</th>
    <th>PE</th>
    <th>PB</th>
    <th>time</th>
    <!--<th>买入</th>
    <th>删除</th>-->
  </tr>
  {% for key,value in stockinfo_sort %}
      <tr class='double_row_bkcolor{{loop.index%2}}'>
        <td>{{loop.index}}</td>
        <!--<td><a href='/hangqing/{{value.code}}' target='_blank'>{{value.code}}</a></td>-->
        <td><a href='https://xueqiu.com/S/{{value.szsh}}' target='_blank'>{{value.code}}</a></td>
        <td align='justify'>{{value.name}}</td>
        <!--<td>{{value['行业']}}</td>-->
        <td>{{value['持仓市值']}}</td>
        <td class="{{value['涨跌_css']}}">{{value['盈亏']}}</td>
        <td class="{{value['涨跌_css']}}">{{value['涨跌(%)']}}</td>
        <td class="{{value['涨跌_css']}}">{{value['涨跌']}}</td>
        <td>{{value['总市值']}}</td>
        <td>{{value.now}}</td>
		{% if value['总盈亏'] > 0 %}
			<td class='font-red'>{{value['总盈亏']}}</td>
			<td class='font-red'>{{value['总盈亏(%)']}}</td>
		{% else %}
			<td class='font-green'>{{value['总盈亏']}}</td>
			<td class='font-green'>{{value['总盈亏(%)']}}</td>
		{% endif %}
        <td>{{value['first_time']}}</td>
        <td>{{value['成交额']}}</td>
        <td>{{value.PE}}</td>
        <td>{{value.PB}}</td>
        <td>{{value.datetime}}</td>
        <!--<td><input type='button' id='btn1' value='买1手' onclick="buy('{{value.code}}',100,{{value.ask1}});"></td>
        <td>            
            <input type='button' id='btn2' value='DEL' onclick="del('{{value.code}}');">
        </td>-->
      </tr>
  {% endfor %}

</table>
<br>  
<!--<div class="display-inline-block margin-left-20">-->
<!--行业分类统计-->
<table border='1' style='border-collapse:collapse'>
  <tr class='table-title'>
    <th>分类</th>
    <th>持仓</th>
    <th>比例</th>
  </tr>
{% for item in dic_hangye_fenlei %}
  <tr class='double_row_bkcolor{{loop.index%2}}'>
      <td>{{item}}</td>
      <td>{{dic_hangye_fenlei[item][0]}}</td>
      <td>{{dic_hangye_fenlei[item][1]}}</td>
  </tr>
{% endfor %}
</table>
<!--</div>-->
