<!doctype html>
  <style>
	.table-title{
		background: #F5FFFA;
	}
	.double_row_bkcolor0{
		background: #EAEAEA;
	}
	table{
		border:1;
		border-collapse:collapse;
	}
/*
	table tr td{
		text-align:right;
	}
*/
	.font-red-bold{
		color:red;
		font-weight:bold;
	}
	.font-green-bold{
		color:green;
		font-weight:bold;
	}
	.font-bold{
		font-weight:bold;
	}
	.font-red{
		color:red;
	}
	.font-green{
		color:green;
	}
	.font-blue{
		color:blue;
	}
  </style>
<title>free10</title>

<dd>
<input type='text' id='hidstockno' style="display:none" value='{{stockno}}'>
<input type='text' id='hidstockname' style="display:none" value='{{stockname}}'>
<div id='roomid'></div>
<div id='match'></div>
<div id='time'></div>
<div id="main_charts" style="width:600px;height:340px"></div>

<div id='stock_info'></div>
<div id='stock_info_error'></div>

<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="/static/js/echarts.js"></script>
<script src="/static/js/stock_echarts.js"></script>

<script type="text/javascript">

getstockinfo($("#hidstockno").val());

var num10 = {
      "1": "一",
      "2": "二",
      "3": "三",
      "4": "四",
      "5": "五",
      "6": "六",
      "7": "七",
      "8": "八",
      "9": "九",
      "10": "十"
    }

function checkTradeTime(){
	var myDate = new Date();
	arr = ['9','10','11','13','14'];
	for (var k = 0, length = arr.length; k < length; k++)
	{
		if (myDate.getHours()==arr[k])
		{
			return true;
		}
	}
	return false;
}

function getstockinfo (stockno) {
	//alert(stockno);
	var myDate = new Date();
	if (checkTradeTime())
	{
		setTimeout(function(){getstockinfo(stockno);},50000);
	}
 	$("#roomid").text($("#hidstockname").val() + "(" + stockno + ")");

	$.ajax({
		type: "GET",
		url: "/hangqingsub/" + stockno,
		//url: "/qq/" + stockno ,
		//data: {'stockno':stockno},
		//dataType: "text",
		success: function(msg){
			//alert(msg);
			/*
                $('#stock_info').text("");
                $('#stock_info_error').text("");
                $('#stock_info').append(msg);
				*/
				getstockinfoSub(msg);
		},
		error:function(){
                $('#stock_info_error').text("error");
			return false;
			},
		});
}

function getstockinfoSub (data) {
	var jsondata = jQuery.parseJSON(data);
	//现价
	//$('.match').text(jsondata.data.match);
	//昨收
	var a = jsondata.data.preClose;
	//涨幅（差额）
	var a1 = (jsondata.data.match - a).toFixed(3);
	//涨幅（百分比）
	var a2 = (a1*100/a).toFixed(2) + "%";
	//文字颜色
	var fontcolor = "";
	if (a1<0)
	{
		fontcolor = "green";
	}else if (a1>0)
	{
		a1 = "+" + a1;
		a2 = "+" + a2;
		fontcolor = "red";
	}

	var match = "<font size='6' color = '" + fontcolor + "'>" + jsondata.data.match + "</font>";
	var zhangfu1 = "&nbsp;<font color = '" + fontcolor + "'>" + a1 + "</font>&nbsp;";
	var zhangfu2 = "&nbsp;<font color = '" + fontcolor + "'>" + a2 + "</font>";
	//alert(match + zhangfu1 + zhangfu2);
	//现价
	$('#match').html(match + zhangfu1 + zhangfu2); //text(jsondata.data.match);
 	$("#time").text(new Date());

	var temphtml = "";
	var i ;
	for(i=0 ;i<=10;i++){
		if (jsondata.data.buyPankou.length>i)
		{
			var buynum = "<td width='50' align='left'><font color='black'>买" + num10[i+1] + "</font></td>";
			var buyprice = "<td width='60' align='left'><font color='" + getColor(a.toFixed(3),jsondata.data.buyPankou[i].price) + "'><b>" + jsondata.data.buyPankou[i].price + "</b></font></td>";
			var buyvolume = "<td width='60' align='right'>" + jsondata.data.buyPankou[i].volume + "&nbsp;</td>";
			var sellnum = "<td width='50' align='left'><font color='black'>卖" + num10[i+1] + "</font></td>";
			var sellprice = "<td width='60' align='left'><font color='" + getColor(a.toFixed(3),jsondata.data.sellPankou[i].price) + "'><b>" + jsondata.data.sellPankou[i].price + "</b></font></td>";
			var sellvolume = "<td width='60' align='right'>" + jsondata.data.sellPankou[i].volume + "&nbsp;</td>";

			temphtml += "<tr>" + sellnum + sellprice + sellvolume + buynum + buyprice + buyvolume + "</tr>" ;
			//$('.content').append('<p>'+jsondata.data.buyPankou[i].price+'</p>');
			//$('#datacontent').append('<p>'+jsondata.data.buyPankou[i].price+'</p>');
		}
	}
	$('#stock_info').html("<table border='0'>" + temphtml + "</table>");
}

function getColor (proClose,newPrice) {
	if (newPrice==0)
	{
		return "gray";
	}
	if (proClose < newPrice)
	{
		return "red";
	}
	else if (proClose > newPrice)
	{
		return "green";
	}
	else{
		return "gray";
	}
}

</script>